<%- include("./partials/header")  %>

  
    <nav class="navbar bg-body-tertiary bg-warning ">
        <div class="container-fluid">
          <div class="navbar-brand">Audrey's To Do App</div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </nav>


      <div class="body">
<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo">
        <input type="submit" value="Add Todo" class="btn btn-md mx-2">
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item"><%= todos.todo %> <a href="/delete/todo/<%= todos._id %>"
                class="btn btn-danger btn-sm">Delete</a></li>

        <% }) %>

    </ul>
</div>
      </div>




<%- include("./partials/footer")  %>